.header_social {
    position: absolute;
    top: 50%;
    left: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid rgba(0, 167, 142, 0.21);
    border-radius: 50px;
}